@font-face {
	font-family:'Source' ;
	src: url('font/SourceSansPro-Regular.otf');
}

p
{
	color: rgb(29, 9, 43);
	font-size: 0.9rem;
	font-family: 'Source';
	
}	

h1
{
	text-align: right;
	color: rgb(66, 52, 52);
}
h2
{
	font-size: 18px;
}

h3
{
	font-size: 14px;
}


body{

	background-image: url('images/fond.jpg');
}


.experience, .formation , .competence , .centre , .haut
{
	padding: 10px;
	margin: 10px auto;
	border: 2px solid black ;
	background-color: rgba(119, 148, 226, 0.507);
	width: 40%;

}
